<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentDelivery or ContentManagement">
        <settings>
            <setting name="FedAuth.AzureID.ClientId" value="78c48060-f0f6-4956-9e49-bdda03df656a" />
            <setting name="FedAuth.AzureID.AADInstance" value="https://login.microsoftonline.com/{0}" />
            <setting name="FedAuth.AzureID.Tenant" value="habitat.onmicrosoft.com" />
            <setting name="FedAuth.AzureID.PostLogoutRedirectURI" value="http://habitat.dev.local/sitecore/login" />
            <setting name="FedAuth.AzureID.RedirectURI" value="http://habitat.dev.local/sitecore" />
        </settings>
        <pipelines>
            <owin.identityProviders>
                <processor type="Sitecore.Feature.SSO.Pipelines.IdentiyProviders.AzureADProvider, Sitecore.Feature.SSO" resolve="true" />
            </owin.identityProviders>
        </pipelines>
        <federatedAuthentication>
            <identityProviders hin="list:AddIdentityProvider">
                <identityProvider id="AzureAD" type="Sitecore.Owin.Authentication.Configuration.DefaultIdentityProvider, Sitecore.Owin.Authentication">
                    <param desc="name">$(id)</param>
                    <param desc="domainManager" type="Sitecore.Abstractions.BaseDomainManager" resolve="true" />
                    <caption>Sign-in with Azure Active Directory</caption>
                    <domain>AzureAD</domain>
                    <icon>/Assets/Azure.png</icon>
                    <transformations hint="list:AddTransformation">
                        <transformation name="Idp Claim" ref="federatedAuthentication/sharedTransformations/setIdpClaim" />
                        <transformation name="devRole" type="Sitecore.Owin.Authentication.Services.DefaultTransformation, Sitecore.Owin.Authentication">
                            <sources hint="raw:AddSource">
                                <claim name="groups" value="e39ae6bb-78d6-4d47-bd2b-982cd2e4de3b" />
                            </sources>
                            <targets hint="raw:AddTarget">
                                <claim name="http://schemas.microsoft.com/ws/2008/06/identity/claims/role" value="Sitecore\Developer" />
                            </targets>
                            <keepSource>true</keepSource>
                        </transformation>
                    </transformations>
                </identityProvider>
            </identityProviders>
            <propertyInitializer type="Sitecore.Owin.Authentication.Services.PropertyInitializer, Sitecore.Owin.Authentication">
                <maps hint="list">
                    <map name="Azure email claim" type="Sitecore.Owin.Authentication.Services.DefaultClaimToPropertyMapper, Sitecore.Owin.Authentication">
                        <data hint="raw:AddData">
                            <source name="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/emailaddress" />
                            <target name="Email" />
                        </data>
                    </map>
                    <map name="Azure Name claim" type="Sitecore.Owin.Authentication.Services.DefaultClaimToPropertyMapper, Sitecore.Owin.Authentication">
                        <data hint="raw:AddData">
                            <source name="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/givenname" />
                            <target name="Name" />
                        </data>
                    </map>
                </maps>
            </propertyInitializer>
            <identityProvidersPerSites>
                <mapEntry name="all" type="Sitecore.Owin.Authentication.Collections.IdentityProvidersPerSitesMapEntry, Sitecore.Owin.Authentication">
                    <sites hint="list">
                        <site>shell</site>
                        <site>login</site>
                        <site>admin</site>
                        <site>service</site>
                        <site>modules_shell</site>
                        <site>modules_website</site>
                        <site>website</site>
                        <site>scheduler</site>
                        <site>system</site>
                        <site>publisher</site>
                    </sites>
                    <identityProviders hint="list:AddIdentityProvider">
                        <identityProvider ref="federatedAuthentication/identityProviders/identityProvider[@id='AzureAD']" />
                    </identityProviders>
                    <externalUserBuilder type="Sitecore.Owin.Authentication.Services.DefaultExternalUserBuilder, Sitecore.Owin.Authentication">
                        <param desc="isPersistentUser">true</param>
                    </externalUserBuilder>
                </mapEntry>
            </identityProvidersPerSites>
        </federatedAuthentication>
    </sitecore>
</configuration>