<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentDelivery or ContentManagement">
        <settings>
            <setting name="FedAuth.Auth0.ClientId" value="K9pkQmRVv9EXJYyk9jApLafSwv5aFEz4" />
            <setting name="FedAuth.Auth0.ClientSecret" value="A-hC47xV8YRjSwEB8RU4ZZEpg0tMC77d66wOsF9TezOSM8JwTSuCW6wlcRyPgQPS" />
            <setting name="FedAuth.Auth0.Domain" value="tonhuynhit.auth0.com" />
        </settings>
        <pipelines>
            <owin.identityProviders>
                <processor type="Sitecore.Feature.SSO.Pipelines.IdentiyProviders.Auth0IdentityProvider, Sitecore.Feature.SSO" resolve="true" />
            </owin.identityProviders>
        </pipelines>
        <federatedAuthentication type="Sitecore.Owin.Authentication.Configuration.FederatedAuthenticationConfiguration, Sitecore.Owin.Authentication">
            <!--Provider mappings to sites-->
            <identityProvidersPerSites hint="list:AddIdentityProvidersPerSites">
                <!--The list of providers assigned to all sites-->
                <mapEntry name="all sites" type="Sitecore.Owin.Authentication.Collections.IdentityProvidersPerSitesMapEntry, Sitecore.Owin.Authentication">
                    <sites hint="list">
                        <site>shell</site>
                        <site>login</site>
                        <site>admin</site>
                        <site>service</site>
                        <site>modules_shell</site>
                        <site>modules_website</site>
                        <site>website</site>
                        <site>scheduler</site>
                        <site>system</site>
                        <site>publisher</site>
                    </sites>
                    <identityProviders hint="list:AddIdentityProvider">
                        <identityProvider ref="federatedAuthentication/identityProviders/identityProvider[@id='Auth0']" />
                    </identityProviders>
                    <externalUserBuilder type="Sitecore.Owin.Authentication.Services.DefaultExternalUserBuilder, Sitecore.Owin.Authentication">
                        <param desc="isPersistentUser">false</param>
                    </externalUserBuilder>
                </mapEntry>
            </identityProvidersPerSites>
            <identityProviders hint="list:AddIdentityProvider">
                <identityProvider id="Auth0" type="Sitecore.Owin.Authentication.Configuration.DefaultIdentityProvider, Sitecore.Owin.Authentication">
                    <param desc="name">$(id)</param>
                    <param desc="domainManager" type="Sitecore.Abstractions.BaseDomainManager" resolve="true" />
                    <caption>Log in with Auth0</caption>
                    <icon>/Assets/Auth0.png</icon>
                    <domain>sitecore</domain>
                    <transformations hint="list:AddTransformation">
                        <!--SetIdpClaim transformation-->
                        <transformation name="set idp claim" ref="federatedAuthentication/sharedTransformations/setIdpClaim" />
                        <!--transformation for Auth0 provider-->
                        <transformation name="devRole" type="Sitecore.Owin.Authentication.Services.DefaultTransformation, Sitecore.Owin.Authentication">
                            <sources hint="raw:AddSource">
                                <claim name="idp" value="Auth0" />
                            </sources>
                            <targets hint="raw:AddTarget">
                                <claim name="http://schemas.microsoft.com/ws/2008/06/identity/claims/role" value="Sitecore\Developer" />
                            </targets>
                            <keepSource>true</keepSource>
                        </transformation>
                        <transformation name="fullname" type="Sitecore.Owin.Authentication.Services.DefaultTransformation,Sitecore.Owin.Authentication">
                            <sources hint="raw:AddSource">
                                <claim name="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name" />
                            </sources>
                            <targets hint="raw:AddTarget">
                                <claim name="FullName" />
                            </targets>
                        </transformation>
                    </transformations>
                </identityProvider>
            </identityProviders>
            <sharedTransformations hint="list:AddTransformation">
            </sharedTransformations>
            <propertyInitializer type="Sitecore.Owin.Authentication.Services.PropertyInitializer, Sitecore.Owin.Authentication">
                <maps hint="list">
                    <map name="Auth0 email claim" type="Sitecore.Owin.Authentication.Services.DefaultClaimToPropertyMapper, Sitecore.Owin.Authentication">
                        <data hint="raw:AddData">
                            <!--claim name-->
                            <source name="idp" value="Auth0" />
                            <!--property name-->
                            <target name="IsAdministrator" value="true" />
                        </data>
                    </map>
                </maps>
            </propertyInitializer>
        </federatedAuthentication>
    </sitecore>
</configuration>