<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentDelivery or ContentManagement">
        <settings>
            <setting name="FedAuth.Google.ClientId" value="204084996823-n3hh75jfn5okdfiibtat1pp5442dvu5l.apps.googleusercontent.com" />
            <setting name="FedAuth.Google.ClientSecret" value="GUnIumLU97FsNXzuYH0mf3JZ" />
        </settings>
        <pipelines>
            <owin.identityProviders>
                <processor type="Sitecore.Feature.SSO.Pipelines.IdentiyProviders.GoogleIdentityProvider, Sitecore.Feature.SSO" resolve="true" />
            </owin.identityProviders>
        </pipelines>
        <federatedAuthentication type="Sitecore.Owin.Authentication.Configuration.FederatedAuthenticationConfiguration, Sitecore.Owin.Authentication">
            <identityProvidersPerSites hint="list:AddIdentityProvidersPerSites">
                <mapEntry name="Google all sites" type="Sitecore.Owin.Authentication.Collections.IdentityProvidersPerSitesMapEntry, Sitecore.Owin.Authentication">
                    <sites hint="list">
                        <site>shell</site>
                        <site>login</site>
                        <site>admin</site>
                        <site>service</site>
                        <site>modules_shell</site>
                        <site>modules_website</site>
                        <site>website</site>
                        <site>scheduler</site>
                        <site>system</site>
                        <site>publisher</site>
                    </sites>
                    <identityProviders hint="list:AddIdentityProvider">
                        <identityProvider ref="federatedAuthentication/identityProviders/identityProvider[@id='Google']" />
                    </identityProviders>
                    <externalUserBuilder type="Sitecore.Owin.Authentication.Services.DefaultExternalUserBuilder, Sitecore.Owin.Authentication">
                        <param desc="isPersistentUser">true</param>
                    </externalUserBuilder>
                </mapEntry>
            </identityProvidersPerSites>
            <identityProviders hint="list:AddIdentityProvider">
                <identityProvider id="Google" type="Sitecore.Owin.Authentication.Configuration.DefaultIdentityProvider, Sitecore.Owin.Authentication">
                    <param desc="name">$(id)</param>
                    <param desc="domainManager" type="Sitecore.Abstractions.BaseDomainManager" resolve="true" />
                    <caption>Log in with Google</caption>
                    <icon>/Assets/Google.jpg</icon>
                    <domain>sitecore</domain>
                    <transformations hint="list:AddTransformation">
                        <transformation name="map role to idp" type="Sitecore.Owin.Authentication.Services.DefaultTransformation, Sitecore.Owin.Authentication">
                            <sources hint="raw:AddSource">
                                <claim name="idp" value="Google" />
                            </sources>
                            <targets hint="raw:AddTarget">
                                <claim name="http://schemas.microsoft.com/ws/2008/06/identity/claims/role" value="sitecore\Developer" />
                            </targets>
                            <keepSource>true</keepSource>
                        </transformation>
                        <transformation name="fullname" type="Sitecore.Owin.Authentication.Services.DefaultTransformation,Sitecore.Owin.Authentication">
                            <sources hint="raw:AddSource">
                                <claim name="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name" />
                            </sources>
                            <targets hint="raw:AddTarget">
                                <claim name="FullName" />
                            </targets>
                        </transformation>
                    </transformations>
                </identityProvider>
            </identityProviders>
            <propertyInitializer type="Sitecore.Owin.Authentication.Services.PropertyInitializer, Sitecore.Owin.Authentication">
                <maps hint="list">
                    <map name="GoogleAdmin" type="Sitecore.Owin.Authentication.Services.DefaultClaimToPropertyMapper, Sitecore.Owin.Authentication">
                        <data hint="raw:AddData">
                            <!--claim name-->
                            <source name="idp" value="Google" />
                            <!--property name-->
                            <target name="IsAdministrator" value="true" />
                        </data>
                    </map>
                </maps>
            </propertyInitializer>
        </federatedAuthentication>
    </sitecore>
</configuration>